img{
    width: 50%;
    height: fit-content;
}

.parentContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 10% 0px 10%;
    margin-top: 50px;
}

.imgBio {
    display: flex;
    flex-direction: row;
}

.hi{
    font-size: 150px;
    display: flex;
    /* color: rgb(231, 225, 139); */
    
}

.content{
    margin-top: 5px !important
}

.banner{
    /* border: 2px solid black; */
    height: fit-content;
    margin-left: 30px;
}

.bio-box {
    background-color: #4c4447;
    border-radius: 12px;
    padding: 20px;
    margin-top: 35px;
}

.subheaders{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

.snapshot{
    background-color: #f4e9d7;
    width: fit-content;
    padding: 8px;
    border-radius: 12px;
    margin-left: -3px;
    margin-top: -40px;

}

.cursiveFont{
    color: black
}

h3{
    /* border-bottom: solid #f4e9d7 2px; */
    padding-bottom: 6px;
}