/* .about_me_container {
    height: 90vh;
} */

.about_me_content_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
    width: 90%;
    max-width: 1300px;
    padding-bottom: 6rem;
    gap: 3rem;
}

.middleChild{
    margin: 0px 12px 0 12px
}
.about_me_content p {
  margin-top: 1rem;
  font-size: 2rem;
  /* font-weight: 700; */
}

.about_me_btns_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding-bottom: 8rem;
}

.techWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about_me_btns:nth-child(2){
    border-left: #b721ff solid 2px;
    border-right: #b721ff solid 2px;
}

.icon_and_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 1rem

}

.about_me_btns {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.label {
  color: white;
  padding: 10px 100px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1.5rem;
  margin: 1rem;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    white-space: nowrap;
}

.techIcon {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 960px) {
    .about_me_btns_container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1300px;
      }
      .about_me_content_container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about_me_btns:nth-child(2){
        border-left: none;
        border-right: none;
    }
}

@media screen and (max-width: 768px) {
    .about_me_content_container {
       margin-top: 15rem;
    }
}

@media screen and (max-width: 480px) {
    .about_me_content_container{
        margin-top: 0rem;
    }

    .about_me_btns_container {
        display: flex;
        flex-direction: column;
        padding-bottom: 0rem;
    }

    .about_me_container {
        display: flex;
        flex-direction: column;
    }

    .about_me_content p {
        font-size: 1.5rem;
      }
}