

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px 0px 80px 0px;
    width: 80%;
    color: #f4e9d7;
    font-size: 16px;

}

.hello{
   margin-top: -100px;
   color: #f4e9d7;
}

.hello-animate{
    margin-top: -100px;
   color: #f4e9d7;
   animation: shake 1000ms;
}

@keyframes shake {
    0% {
        transform: rotate(15deg);
    }
    15%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    45%{
        transform: rotate(-15deg);
    }
    60%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0);
    }
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;

}
.name-email-div{
    display: flex;
    width: 100%;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center
}


.hello-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 60px;
    margin-top: 20px;
    height: fit-content;
}

button{
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    padding: 12px 30px 12px 30px;
    width: 100%;
    background-color: #4c4447;
    font-family: 'Barlow Condensed', sans-serif !important;
    font-weight: bold;
    color: #f4e9d7;
    font-size: 16px;
}

button:hover{
    color: #4c4447;
    background-color: #f4e9d7;
    cursor: pointer;
}

.icons{
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-top: -60px;
    margin-left: 5px;
}

.form-label{
    margin-top: 12px;
}

input{
    height: 30px;
    width: 100%;
    border: none;
    background-color: #f4e9d7;
}


label{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    line-height: 1.5em;
}

.message-div{
    width: 100%;
}

.contact-message{
    width: 100%;
    height: 200px;
}

textarea:focus,
#alphatxt:focus {
    outline: 0;
}

textarea{
    background-color: #f4e9d7;
    border: none;
    font-family: 'Barlow Condensed', sans-serif;
}

.icons a {
    width: fit-content;
    width: 25%;
    margin-right: -20px;
}

.icon:hover{
    width: fit-content;
    width: 60%;
}

.say-animate {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    color: #4c4447;
    animation: slam 1000ms;
}

@keyframes slam {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(2);
    }
    100% {
        transform: scale(0);
    }
}

.send{
    width: 50%;
    padding-left: 0;
    padding-right: 0;
}