.main_img_container img {
    /* height: 20vh; */
    border-radius: 50%;
    background-color: rgb(44, 43, 49);
    width: 80%;
    height: 80%;
    border: 5px solid #b721ff;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 90%;
    max-width: 1300px;
}

.main_content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #f610f9  0%, #b721ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.creations {
    background-image: linear-gradient(to top, #f610f9  0%, #b721ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_img_container {
    text-align: center;
}

/* mobile responsive */
@media screen and (max-width: 768px){
    .main_container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    .main_content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content h2 {
        font-size: 3rem;
    }

    .main_content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main_content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main_content h2 {
        font-size: 2rem;
    }

    .main_content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main_btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}