.hero-container {
    background-color: rgb(240, 229, 138);
    width: 100% !important;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: left; */
    /* border: 2px solid black; */
    /* background-image: url("./assets/banner.jpg");
    background-size:contain; */
}

.hi {
    font-size: 300px;
    /* border: 2px solid black; */
    width: 500px;
}

.banner {
    border: 2px solid black;
    width: 600px;
}

.cursiveFont{
    font-family:'Just Another Hand';
    font-size: xx-large;
}

