img{
    width: 50%;
    height: fit-content;
}

.parentContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 10% 0px 10%;
}

.imgBio {
    display: flex;
    flex-direction: row;
}

