.hero{
    height: 100vh;
    background-size: cover;
    background-image: url("../components/assets/hero2.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f4e9d7;
    filter: drop-shadow(0px 8px 8px rgb(41, 41, 41));
}

.test{
    border: 10px solid black;
}

.hero-sub {
    color: #f4e9d7;
    animation: load-right 500ms;
    filter: drop-shadow(0px 8px 8px rgb(41, 41, 41));
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .hero-sub {
      font-size: 3vh;
    }
  }

h1{
    display: flex;
    animation: load-left 500ms;
    align-items: center;
    justify-content: center;
    color: #f4e9d7;
    font-weight: bold;
    filter: drop-shadow(0px 8px 8px rgb(41, 41, 41));
}

@keyframes load-left {
    0% {
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes load-right {
    0% {
        transform: translateX(100%)
    }
    100%{
        transform: translateX(0);
    }
}