.navbarHeader{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #978b95;
    background-color: #706267a4;
    animation: load-down 400ms ease-in;
    /* filter: drop-shadow(0px 8px 8px rgb(41, 41, 41)); */

}

.navbar-nav {
    align-items: end;
}

@media screen and (max-width: 600px) {
    Nav.Link {
     font-size: 3vh;
    }
  }

@keyframes load-down {
    0% {
        transform: translateY(-100%)
    }
    100%{
        transform: translateY(0);
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
   height: 80px;
   align-items: center;
}

.resume {
    border: 2px solid #f4e9d7;
    color: #f4e9d7;
    padding: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 22px;
}

.resume:hover{
    cursor: pointer;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-top-width: 2px;
    border-left-width: 2px
}

body{
    position: relative;
}

.list {
    display: flex;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    list-style: none;
    color: #f4e9d7;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    font-size: 22px;
}

.name {
    font-weight: bold;
    color: #f4e9d7;
    font-size: 25px;
}

.nav-link:hover {
    filter: drop-shadow(0px 8px 8px rgb(41, 41, 41));
    cursor: pointer;
}

.navlink:active {
    filter: drop-shadow(0px 8px 8px rgb(41, 41, 41));
}

a{
    text-decoration: none;
}

/* a.active {
    text-decoration: none;
} */