.navbar{
    display: flex;
    justify-content: right;
}

ul{
    display: flex;
    justify-content: right;
    margin-right: 10%;
}

.nav-link {
    text-decoration: none;
    list-style: none;
    margin-left: 14px;
}