
.project-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 28px;
}

.margin-top{
    margin-top: 150px;
}

.projectImg-title{
    display: flex;
    margin: 0px 18px 0px 18px;
    align-items: center;
    /* flex-direction: column; */
    background-color: #928489;
    /* background-color: #4c4447; */
    padding: 12px;
    border-radius: 12px;
}

.projectImg{
    width: 100%;
}

.project-type{
    height: fit-content;
    margin-top: -2px;
    font-style: italic;
    font-size: 16px;
}

.project-description{
    padding: 15px;
}
/* 
.snapshot {
    width: 70% !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
} */

.project-title{
    background-color: #f4e9d7;
    width: 80%;
    padding: 8px;
    border-radius: 12px;
    margin-left: -3px;
    margin-top: -40px;
}

.projects{
    margin-top: 150px;
    border: 2px solid black;
}