html, body {
    padding: 0 !important;
    margin: 0px !important;
}

body {
    /* padding: 0px 10% 0px 10%; */
    height: 100vh;
    /* background-color: rgb(218, 203, 184); */
    font-size: large;
}

div {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
}

h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

input:focus,
#alphatxt:focus {
    outline: 0;
}

