html, body {
    padding: 0 !important;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: #706267;
    font-size: large;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    color: #4c4447;
    font-size: 2em;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18vh;
}

@media screen and (max-width: 600px) {
    h1 {
      font-size: 8vh;
    }
  }

h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: #f6efe5;
    letter-spacing: .2em;
    font-size: 3vh;
}

p {
    font-family:'Barlow Condensed', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #dad5cd;
    margin-top: -20px;
    letter-spacing: .1em;
}

input:focus,
#alphatxt:focus {
    outline: 0;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }